<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Door Access</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/templatemo-xtra-blog.css" rel="stylesheet">
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	
   
                       
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <!--<a href="post.html" class="effect-lily tm-post-link tm-pt-60">-->
                        <div class="tm-post-link-inner">
                            <img class="img-fluid" src="{{ url_for('video_feed') }}">                            
                        </div>
                       <!-- <span class="position-absolute tm-new-badge">New</span>-->
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Face Verification</h2>
                    <!--</a>-->                    
                    
                    
                    <hr>
                    
                </article>
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <!--<a href="post.html" class="effect-lily tm-post-link tm-pt-60">  class=" tm-post-link-inner"-->
                        <div >
						
                           <!-- <img src="../static/img/door1.png" alt="Image" class="img-fluid">   -->
							<h3>Home Door</h3>
							
					
							 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
 window.location.href="/page";
}, 5000);
</script>                         
                       
	
						
						</div>
                        <!--<span class="position-absolute tm-new-badge">New</span>-->
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title"></h2>
                   <!-- </a>    -->                
                   
                </article>
               
                
               
            </div>
            
            
        </main>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>
</html>